{% extends 'base.html' %}

{% block content %}
<!-- Artistic Background with Floating Particles -->
<div class="artistic-bg">
    <div class="floating-particles">
        <div class="particle particle-1"></div>
        <div class="particle particle-2"></div>
        <div class="particle particle-3"></div>
        <div class="particle particle-4"></div>
        <div class="particle particle-5"></div>
    </div>
</div>

<div id="forgot-password" class="row">
    <div class="col-12 col-md-10 offset-md-1">
        <div class="row accounts-card forgot-password-card img-shadow artistic-card">
            <div class="col-md-4 d-none d-md-block side-img">
                <img src="/media/products/artof_sree_37a26c003fad404fa5eae17645b0440d.webp" class="display-painting accounts-img" alt="Stencil Artwork">
                <!-- Custom Icon Overlay -->
                <div class="custom-icon-overlay">
                    <i class="fas fa-key artistic-icon"></i>
                </div>
            </div>

            <div class="col-12 col-md-8 offset-md-0 accounts-form">
                <h3 class="accounts-header calligraphy-title">Forgot Password</h3>
                <div class="artistic-divider"></div>
                <p class="p-text">Forgot password? Please contact admin. If admin has reset your password, login using the temporary password provided.</p>
                <div class="mt-3 text-center">
                    <a href="{% url 'login' %}" class="btn btn-outline-primary artistic-btn">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
